.profile__avatar {
  width: 150px;
}

.profile__info {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  width: 40%;
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;

  .innerBox {
    display: flex;
    color: black;
    border-bottom: 1px solid black;
    justify-content: start;
    align-items: center;
    padding: 0 10px;
    .sec {
      width: 100px;
      color: red;
      padding: 5px;
      border-right: 1px solid black;
    }
    .info {
      padding: 5px;
    }
  }
  .innerBox-last {
    border: none;
  }
}

.editProfileBtn {
  margin-top: 20px;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: gold;
  cursor: pointer;
  &:hover {
    background-color: red;
  }
}
